@font-face {
  font-family: myFont;
  src: url('../fonts/Norwill.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background: rgb(161, 196, 253);
  background: radial-gradient(circle, rgba(161, 196, 253, 1) 0%, rgba(235, 194, 251, 1) 100%);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

/*BACKGROUND ANIMATIONS*/

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

p {
  font-size: 30px;
}

form {
  font-family: 'Lucida Sans';
  z-index: -1;
  color: black;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 10px;
}

h2 {
  font-size: 90px;
  font-family: myFont;
  color: rgb(22, 38, 182);
  /*rgb(244, 64, 94)*/
  margin-bottom: 25px;
  display: flex;
  justify-content: center;

}

h2::after {
  content: '';
  width: 500px;
  height: 5px;
  border-radius: 3px;
  background: #c72a8b;
  margin: 0 auto;
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
}

hr {
  margin-top: 30px;
  border: 1px solid #141204;
}

.card1 {
  margin: -10px 5px;
  background: #fff;
  box-shadow: 20px 20px 10px #6dafec,
    20px 20px 60px #99cbfd;
  border-radius: 10px;
  border: #141414;
  padding: 2%;
  background-image: url('../img/sportspic.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.inputgroup label {
  text-transform: uppercase;
  font-size: 20px;
  font-family: myFont;
  color: rgb(22, 38, 182);
}

legend {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(22, 38, 182);
  font-size: 30px;
}

.inputgroup input {
  color: #141414;
  border-radius: 50px;
  box-shadow: 10px 10px 10px #5f6768,
    -20px -20px 60px #cecce3;
  border-radius: 10px;
  border: 2px solid rgb(22, 38, 182);
}

.inputgroup input:hover,
.inputgroup input:focus {
  color: white;
  border-radius: 10px;
  background: transparent;
  box-shadow: inset 20px 20px 60px #5959eb,
    inset -20px -20px 80px #ffffff;
}

input:hover::placeholder {
  color: white;
}

.row .choices {
  font-size: 19px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 10px 20px 10px #5f6768,
    -20px -20px 60px transparent;
  border-radius: 10px;
  color: rgb(22, 38, 182);
}

.row .form-check-input {
  background: transparent;
  border: 2px solid #ec8d7c;
}

.row .form-check-input:before {
  background: #800000;
}

.row .form-check-input:focus {
  background: #800000;
}

.row .form-check-input:active {
  border-color: #800000;
  background: #800000;
}

.btn-custom {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(29, 32, 179);
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  width: 100px;
  height: 50px;
  margin-left: 3px;

}

.btn-custom:hover {
  background-color: #fff;
  color: rgba(48, 94, 128, 255);
  border: 2px solid rgba(48, 94, 128, 255);
  box-shadow: 5px 5px 0px rgba(48, 94, 128, 255);
}

.btn-custom:active {
  color: white;
  background-color: #45a049;
  box-shadow: none;
  transform: translateY(4px);
}

.homebtn {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;

  i {
    color: white;
  }
}

.homebtn.btn-custom:hover {
  background-color: #ffffff;
  border: 2px solid rgba(48, 94, 128, 255);
  box-shadow: 5px 5px 0px rgba(48, 94, 128, 255);

  i {
    color: rgb(29, 32, 179);
  }
}

.homebtn.btn-custom:active {
  background-color: #45a049;
  box-shadow: none;
  transform: translateY(4px);

  i {
    color: white;
  }
}


.form-control {
  background: transparent;
  font-size: large;

}

.form-check-input {
  background: transparent;
}

.error {
  color: red;
  width: 300px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Modal styles */
.modal {
  display: none;
  z-index: 1000;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #fff;
  box-shadow: 20px 20px 10px #6dafec,
    20px 20px 60px #99cbfd;
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 5px;
}

.close {
  width: 20px;
  margin-left: 420px;
  color: #0a0707;
  font-size: 40px;
  font-weight: 900;
}

.close:hover,
.close:focus {
  color: rgb(185, 8, 8);
  text-decoration: none;
  cursor: pointer;
}

#alertMessage {
  font-style: italic;
}

button#modalOkButton {
  margin-top: 15px;
  padding: 15px 16px;
  background-color: rgb(29, 32, 179);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#modalOkButton:hover {
  background-color: #45a049;
}


/*RESPONSIVENESS*/
/* SMALL DEVICES */
@media (max-width: 320px) {
  .card1 {
    height: 100%;
    width: 310px;
  }

  h2 {
    text-align: center;
    font-size: 40px;
  }

  h2::after {
    width: 150px;
    top: 150px;
    justify-self: center;
  }

  form {
    margin-top: 0;
    padding: 50px;
  }

  label {
    margin-left: 15px;
  }

  .inputgroup {
    margin-top: 0;
    justify-self: center;
    width: 280px;
  }

  fieldset {
    font-size: 9px;
    width: 170px;
    margin-left: -45px;
  }

  legend {
    text-align: center;
    width: 250px;
    font-size: 18px;
  }

  .choices label {
    font-size: 15px;
  }

  .modal-content {
    width: 60%;
    justify-content: center;
  }

  .modal .close {
    margin-left: 130px;
    font-size: 25px;
  }

  .modal p {
    font-size: 12px;
  }

  button#modalOkButton {
    width: max-content;
    font-size: 10px;
  }

  .homebtn {
    float: right;
    margin: -100px 0px 0px 0px;
  }
}

@media(max-width:375px) {
  h2 {
    justify-self: center;
    font-size: 50px;
  }

  h2::after {
    top: 170px;
    width: 50%;
  }

  .card1 {
    background-size: 80%;
    background-position: 40px 650px;
    justify-self: center;
  }
}

@media only screen and (max-width:425px) {
  h2 {
    text-align: center;
    font-size: 40px;
    position: relative;
  }

  h2::after {
    width: 40%;
    top: 160px;
  }

  .card1 {
    background-size: 70%;
    background-position: 90px 600px;
    margin: 0px 0px 0px 20px;
  }

  .modal-content {
    width: 50%;
    justify-content: center;
  }

  .modal .close {
    margin-left: 160px;
    font-size: 25px;
  }

  .modal p {
    font-size: 15px;
  }

  button#modalOkButton {
    width: max-content;
    font-size: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 50px;
    justify-self: center;
  }

  h2::after {
    justify-self: center;
    top: 120px;
    width: 350px;
  }

  .card1 {
    margin-top: -40px;
    background-position: 50px 20px;
    background-size: 90%;
    display: flex;
    align-items: right;
    justify-self: center;
    width: 720px;
  }

  .inputgroup {
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  fieldset {
    width: 620px;
    top: 0px;
  }

  legend {
    font-size: 25px;
  }

  .modal-content {
    width: 100%;
    justify-content: center;
  }

  .modal .close {
    margin-left: 410px;
    font-size: 25px;
  }

  .modal p {
    font-size: 20px;
  }

  button#modalOkButton {
    width: max-content;
    font-size: 10px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
  @media only screen and (min-width: 1440px) {
    h2 {
      font-size: 90px;
    }

    h2::after {
      top: 150px;
      width: 500px;
      height: 10px;
    }

    .card1 {
      width: 1220px;
      background-size: 100%;
      background-position: -15px;
    }

    .inputgroup {
      width: 420px;
    }

    fieldset {
      font-size: 20px;
      width: 500px;
    }

    legend {
      font-size: 25px;
      display: flex;
      text-align: center;
    }

    .modal .close {
      margin-left: 410px;
      font-size: 40px;
    }

    .modal p {
      font-size: 30px;
    }

    button#modalOkButton {
      font-size: 20px;
    }
  }
}