@font-face {
  font-family: myFont;
  src: url('../fonts/Norwill.otf');
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

 body {
  background: rgb(161,196,253);
  background: radial-gradient(circle, rgba(161,196,253,1) 0%, rgba(235,194,251,1) 100%);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  z-index: -1;
  justify-content: center;
  align-items: center;
}
/*BACKGROUND ANIMATIONS*/

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
h1{
  font-family: myFont;
  margin-top: 50px;
  font-size: 90px;
  justify-self: center;
  color: rgb(22, 38, 182);
}
h1::after{
  content: '';
  width: 450px;
  height: 10px;
  border-radius: 5px;
  background: #c72a8b;
  margin: 0 auto;
  position: absolute;
  top: 160px;
  left: 0;
  right: 0; 
} 
.container {
  margin-top: 50px;
  color: white;
  position: relative;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.stars {
  font-size: 40px;
  color: #ffc107;
  cursor: pointer;
}
.stars span {
  margin-right: 5px;
}
.form-group textarea {
  resize: none;
}
img{
  justify-self: center;
  width:50%;
  height: 800px;
  margin-right: 10px;
  border-radius: 30px 0px 0px 30px;
}
.box {
  color: black;
  width: 1590px;
  height: 800px;
  padding:2%;
  background: #fff;
  box-shadow:  20px 20px 10px #6dafec,
             20px 20px 60px #99cbfd;
  border-radius: 0px 20px 20px 0px;
  border: #141414;
  backdrop-filter: blur(20px);
  transition: all ease 0.3s;
}

h4,label{
  color: rgb(22, 38, 182);
  font-size: 22px;
  font-family: myFont;
  }
  label{
    text-transform: uppercase;
  }
  .rating{
font-size: 30px;
}
.comment{
  margin-top: 30px;
}

.inputgroup input{
  justify-self: center;
  margin: 10px 10px 0px 10px;
  color: #141414;
  border-radius: 50px;
box-shadow:  10px 10px 10px #5f6768,
             -20px -20px 60px #cecce3;
  border-radius: 10px;
  border:2px solid rgb(22, 38, 182);
}
.inputgroup input:hover,
.inputgroup input:focus,
.inputgroup textarea:hover,
.inputgroup textarea:focus{
  color: white;
  border-radius: 10px;
  background: transparent;
  box-shadow: inset 20px 20px 60px #5959eb,
              inset -20px -20px 80px #ffffff;
}
input:hover::placeholder {
  color:white; 
}

.btn-custom {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(29, 32, 179);
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  width: 120px;
  height: 50px;
  float: right;
  margin:10px 0px 10px 0px;
  
}
.btn-custom:hover{
  background-color: #fff;
  color: rgba(48,94,128,255);
  border: 2px solid rgba(48,94,128,255);
  box-shadow: 5px 5px 0px rgba(48,94,128,255);
}
.btn-custom:active{
  color: white;
  background-color: #45a049;
  box-shadow: none;
  transform: translateY(4px);
}
.homebtn i{
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.homebtn{
  margin-right: 15px;
  width: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
}
  /* Modal styles */
.modal {
  display: none;
  z-index: 1000;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #fff;
  box-shadow: 20px 20px 10px #6dafec,
    20px 20px 60px #99cbfd;
  border-radius: 10px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 5px;
}

.close {
  width: 20px;
  margin-left: 420px;
  color: #0a0707;
  font-size: 40px;
  font-weight: 900;
}

.close:hover,
.close:focus {
  color: rgb(185, 8, 8);
  text-decoration: none;
  cursor: pointer;
}

#alertMessage {
  font-size: 25px;
  font-style: italic;
}

button#modalOkButton {
  margin-top: 15px;
  padding: 15px 16px;
  background-color: rgb(29, 32, 179);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#modalOkButton:hover {
  background-color: #45a049;
}

@media  (max-width: 320px) {
  h1 {
    font-size: clamp(30px, 6vw, 30px);
  }

  h1::after {
    top: 100px;
    width: 50%;
    height: 5px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .container img {
    border-radius: 20px;
    order: -1; /* Places the image before the form */
    width: 100%; /* Adjusts the image to be responsive */
    max-width: 300px; /* Controls the max width of the image */
    height: auto; /* Ensures the image keeps aspect ratio */
    margin-bottom: 20px;
  }

  .box {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  label {
    font-size: 15px;
    margin-left: 10px;
  }

  .inputgroup {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
  }

  .rating {
    font-size: 20px;
    text-align: center;
  }

  .stars {
    font-size: 30px;
    text-align: center;
  }

  .bottomcnt {
    font-size: 12px;
    text-align: center;
  }

  .btn-custom {
    font-size: 15px;
    margin-top: 10px;
    float: left;
    width: 30%;
  }
}
@media only screen and (max-width:375px){
  .text-center  {
    margin-right: 50px;
    text-align: center;
    font-size: 50px;
    position: inherit;
  }

  .text-center::after {
    top: 100px;
    width: 50%;
    height: 5px;
  }

  .card{
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .container img {
    border-radius: 20px;
    order: -1; /* Places the image before the form */
    width: 100%; /* Adjusts the image to be responsive */
    max-width: 300px; /* Controls the max width of the image */
    height: auto; /* Ensures the image keeps aspect ratio */
    margin-bottom: 20px;
  }

  .box {
    padding-bottom: 10px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  label {
    font-size: 15px;
    margin-left: 10px;
  }

  .inputgroup {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
  }

  .rating {
    font-size: 20px;
    text-align: center;
  }

  .stars {
    font-size: 30px;
    text-align: center;
  }

  .bottomcnt {
    font-size: 12px;
    text-align: center;
  }

  .btn-custom {
    font-size: 12px;
    margin-top: 10px;
    float: left;
    width: 20%;
  }
}
@media only screen and (max-width:425px){
  .text-center  {
    margin-right: 50px;
    text-align: center;
    font-size: 50px;
    position: inherit;
  }

  .text-center::after {
    top: 100px;
    width: 50%;
    height: 5px;
  }

  .card{
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .container img {
    border-radius: 20px;
    order: -1; /* Places the image before the form */
    width: 100%; /* Adjusts the image to be responsive */
    max-width: 300px; /* Controls the max width of the image */
    height: auto; /* Ensures the image keeps aspect ratio */
    margin-bottom: 20px;
  }

  .box {
    padding-bottom: 10px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  label {
    font-size: 15px;
    margin-left: 10px;
  }

  .inputgroup {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
  }

  .rating {
    font-size: 20px;
    text-align: center;
  }

  .stars {
    font-size: 30px;
    text-align: center;
  }

  .bottomcnt {
    font-size: 12px;
    text-align: center;
  }

  .btn-custom {
    font-size: 12px;
    margin-top: 10px;
    float: left;
    width: 20%;
  }
}

@media only screen and (max-width:768px) {
  h1{
    width: 50%;
    font-size: 40px;
    position: relative;
  }
  h1::after{
    margin-top: 70px;
  }
  .box{
    width: 100%;
    height: 100%;
  }

.spangif{
    border-radius: 20px;
    order: -1; /* Places the image before the form */
    width: 50%; /* Adjusts the image to be responsive */
    max-width: 320px; /* Controls the max width of the image */
    height: auto; /* Ensures the image keeps aspect ratio */
    margin-bottom: 10px;
}
  
  .rating{
    font-size: 20px;
  }
  .stars{
    font-size: 30px;
  }
}
@media only screen and (max-width: 1024px) {
    h1{
      font-size: 90px;
    }
   h1::after{
    width: 60%;
    top: 150px;
   }
   .inputgroup{
    text-align: center;
    align-self: baseline;
   }
   .rating{
    font-size: 22px;
   }
   .stars{
    font-size: 20px;
   }
   .btn-custom{
    margin: -10px 10px 0 0;
   }
  }
