@font-face {
  font-family: myFont;
  src: url('../fonts/Norwill.otf');
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}
body {
  background: rgb(161,196,253);
  background: radial-gradient(circle, rgba(161,196,253,1) 0%, rgba(235,194,251,1) 100%);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  z-index: -1;
  justify-content: center;
  align-items: center;
}
/*BACKGROUND ANIMATIONS*/

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.container {
  margin-top: 50px;
  color: white;
}

.hero {
  text-align: center;
  margin-top: 20px;
}

.card {
  margin-top: 50px;
  background-color: rgba(21, 9, 127, 0.1);
  border-radius: 20px;
  color: rgb(22, 38, 182);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.card-header {
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.card-body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 40px;
  font-size: 20px;
}

#cardtitle{
  text-transform: uppercase;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: 600;
}

p{
  color: rgb(22, 38, 182);
  font-size: 30px;
}

.bottom{
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(230, 82, 141);
}

h1 {
  font-family: myFont;
  font-size: 90px;
  color: rgb(22, 38, 182);
}
h1::after{
  content: '';
  width: 450px;
  height: 5px;
  border-radius: 3px;
  background: #c72a8b;
  margin: 0 auto;
  position: absolute;
  top: 390px;
  left: 0;
  right: 0; 
} 

.write-review-btn {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(29, 32, 179);
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  width: 210px;
  height: 70px;
  margin:10px 0px 10px 0px;
  
}
.write-review-btn:hover{
  background-color: #fff;
  color: rgba(48,94,128,255);
  border: 2px solid rgba(48,94,128,255);
  box-shadow: 5px 5px 0px rgba(48,94,128,255);
}
.write-review-btn:active{
  color: white;
  background-color: #45a049;
  box-shadow: none;
  transform: translateY(4px);
}

@media (max-width: 320px) {
  .card {
    justify-self: center;
    top: -10px;
    width: 100%;
  }
  #cardtitle{
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .btn{
    margin-top: 10px;
    justify-self: center;
    text-align: center;
  }
  #bottom{
    font-size: 12px;
  }
  #write-review-btn{
    font-size: 15px;
    width: fit-content;
    height: fit-content;
  }
}
@media only screen and (max-width:375px){
#text-center{
    font-size: 30px;
    position: relative;
  }
  #text-center::after{
    width: 30%;
    top: 70px;
  }
  .card {
    justify-self: center;
    top: -10px;
    width: 100%;
  }
  #cardtitle{
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .bottom {
    margin-bottom: 0;
    font-size: 10px;
  }
  .btn{
    margin-top: 10px;
    justify-self: center;
    text-align: center;
  }
  .write-review-btn {
    width: inherit;
    font-size: 10px;
    height: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .text-center{
    font-size: 30px;
    position: relative; /* Ensure ::after is positioned relative to h1 */
  }
 .text-center::after {
    width: 30%;
    top: 80px; /* Adjust the top position without affecting h1 */
  }
  p {
    font-size: 15px;
  }
  #cardtitle{
    font-size: 20px;
  }
  #bottom {
    font-size: 19px;
  }
  .write-review-btn {
    justify-self: center;
    width: inherit;
    height: 50px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    position: relative; /* Ensure ::after is positioned relative to h1 */
  }
  h1::after {
    width: 50%;
    top: 50px; /* Adjusted to prevent displacement */
  }
  .bottom {
    font-size: 20px;
  }
  .write-review-btn {
    width: inherit;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
  h1 {
    align-self: center;
    vertical-align: middle;
    position: relative; /* Ensure ::after is positioned relative to h1 */
  }
  h1::after {
    width: 40%;
    top: 50px; /* Adjust the top position */
  }
  p{
    font-size: 25px;
  }
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 90px;
    position: relative; /* Ensure ::after is positioned relative to h1 */
  }
  h1::after {
    width:30%;
    height: 10px;
    top: 240px; /* Adjusted to avoid affecting h1 placement */
  }
  #cardtitle{
    text-transform: uppercase;
  }
  .card {
    margin-top: 90px;
  }
  .bottom {
    font-size: 20px;
  }
  .write-review-btn{
    font-size: 30px;
    width: inherit;
    height: fit-content;
  }
}
